*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #548687;
    text-align: center;
    
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
   
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 1.5vmin;
      
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    font-size: 8vmin;
    color: rgb(162, 50, 50);
    background-color: #ffffc7;
}

#reset-game{

    background-color: rgb(96, 96, 83);
    padding: 1rem;
    border-radius: 15rem;
    font-size: 1.25rem;
    color: #fff; 
    border: none;
    
}


#new-game{
    background-color: yellow;
    color: black;
    font-size: 1.25rem;
    padding: 1rem;
    border: none;
    border-radius: 15rem;
}
 .hide{
    display: none;
 }
